
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
     <a href='https://www.hkbu.edu.hk/' class="navbar-right"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo.jpg" style="width: 150px"></a>

      <!-- 修正了h2和h4标签的嵌套问题 -->
      <h2><p navbar-brand class="text-danger text-left">GaoMeng Group /n Air Quality and Atmospheric Chemistry Modeling</p></h2>

	<div class="collapse navbar-collapse" id="navbar-collapse-1" style="position:relative; left:7%">
	  <ul class="nav navbar-nav">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">HOME</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">PEOPLE</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">RESEARCH</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">PUBLICATIONS</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teaching">TEACHING</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings">OPENINGS</a></li>
		</ul>
	</div>
  </div>
</div>

