<style>
.navbar-nav > li > a:hover {
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff !important;
    transition: background-color 0.3s ease;
}

.logo-img {
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 5px white);  /* 白色轮廓 */
    width: 250px;
}
</style>

<div class="navbar navbar-default navbar-static-top" role="navigation" style="background: url('{{ site.url }}{{ site.baseurl }}/images/logopic/your_image.jpg') no-repeat center center; background-size: cover;">
  <div class="container-fluid">
     <a href='https://www.hkbu.edu.hk/' class="navbar-right">
       <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo.png" class="logo-img">
     </a>

      <h2>
        <p navbar-brand class="text-danger text-left" style="color: #fff; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">
          Meng Gao Group<br>
          Air Quality and Atmospheric Chemistry Modeling
        </p>
      </h2>

    <div class="collapse navbar-collapse" id="navbar-collapse-1" style="position:relative; left:7%">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}{{ site.baseurl }}/" style="color: #fff;">HOME</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/team" style="color: #fff;">PEOPLE</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/research" style="color: #fff;">RESEARCH</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/publications" style="color: #fff;">PUBLICATIONS</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/Privacy_Policy" style="color: #fff;">PRIVACY POLICY</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/openings" style="color: #fff;">OPENINGS</a></li>
      </ul>
    </div>
  </div>
</div>
